[Unit]
Description=TVS Photobooth
After=multi-user.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/TVS_PHOTOBOOTH_V2
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
ExecStart=/home/pi/TVS_PHOTOBOOTH_V2/venv/bin/python3 /home/pi/TVS_PHOTOBOOTH_V2/photobooth.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
